.paperStyle {
  padding: 30px 20px;
  width: 400px;
  margin: 0 auto;
}

.avatarStyle {
  background-color: #1bbd7e;
}

.headerStyle {
  margin: 8px;
}

.iconClass {
  font-size: 30px;
  color: blue;
}

/* school list css start here  */


.schoolImage {
  width: 60px;
  height: 45px;
  border-radius: 600px;
}

/* school list css end here  */